
{% extends 'chat/base.html' %}
{% load i18n %}
{% block breadcrumbs %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="breadcrumbs" data-aos="fade-up">
			<div class="section-title">
				<center><h2>УСПЕШНАЯ РЕГИСТРАЦИЯ</h2></center>
			</div>
</div>
{% endblock %}
{% block content %}


<div class="container class_form" data-aos="fade-up">

<br>
<br>
<center><p>Ваш аккаунт успешно зарегестрирован! Теперь Вы можете войти.</p></center>

<br>
<center><p><a href="{% url 'chat-home'%}" type="submit" class="btn btn-primary">Войти</a></p></center>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
