{% extends 'chat/base.html' %}
{% load crispy_forms_tags %}
{% block password_reset  %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container class_form" data-aos="fade-up">
			<div class="section-title">
				<h2>СБРОС ПАРОЛЯ</h2>
			</div>
  			<div class="row justify-content-center">
  			<form action="{% url 'password_reset' %}" role="form" method="post" style="width: 50%;">
				  {% csrf_token %}
				  {{ form| crispy }}
				  <div class="">
			    </div>

			  <div style="float: right; margin-bottom: 10%; margin-top: 10%;" class="form-group row" data-aos="fade-up">
			      <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button >
			  </div>
			</form>
			</div>
  		</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}


