

{% extends 'chat/base.html' %}
{% block breadcrumbs %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="breadcrumbs" data-aos="fade-up">
			<div class="section-title">
				<h2>ПАРОЛЬ ВОССТАНОВЛЕН УСПЕШНО</h2>
			</div>
{% endblock %}

{% block password_reset  %}




<div class="container" data-aos="fade-up">
<center><p>Ваш пароль был успешно сменен. Вы можете войти в аккаунт</p></center>

<center><p><a href="{% url 'chat-login'%}" type="submit" class="btn btn-primary">Войти</a></p></center>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}



