
{% extends 'chat/base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="breadcrumbs" data-aos="fade-up">
			<div class="section-title">
				<h2>ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h2>
			</div>
{% endblock %}

{% block password_reset %}

{% if validlink %}


<div class="container class_form" data-aos="fade-up">
<center><p>Пожалуйста, введите новый пароль дважды,так мы сможем понять, что Вы ввели его правильно</p></center>


<div class="row justify-content-center">
<form role="form" method="POST" style="width: 50%;">


 <div class="form-label">
       {{ form | crispy }}
            {% csrf_token %}
    </div>
      <div style="float: right; margin-bottom: 10%; margin-top: 10%;" class="form-group row" data-aos="fade-up">
			      <button type="submit" class="btn btn-primary">ИЗМЕНИТЬ ПАРОЛЬ</button >
			  </div>

</form>
</div>
</div>
{% else %}
<div class="container class_form" data-aos="fade-up">

    <center><p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p></center>

</div>
{% endif %}
<br>
<br>
<br>
<br>
{% endblock %}


