
{% extends 'chat/base.html' %}
{% block breadcrumbs %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="breadcrumbs" data-aos="fade-up">
			<div class="section-title">
				<h2>СБРОС ПАРОЛЯ</h2>
			</div>
</div>
{% endblock %}
{% block password_reset %}


<div class="container class_form" data-aos="fade-up">

<p>Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.</p>

<p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым зарегистрировались, и проверьте папку со спамом.</p>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}


